<div id="categories-archives" class="main-content-wrap">
    <form id="filter-form" action="##">
        <input name="category" type="text" class="form-control input--xlarge"
               placeholder="<%= __('global.search_category')  %>" autofocus="autofocus">
    </form>
    <h5 class="archive-result text-color-base text-xlarge"
        data-message-zero="<%= __('global.categories_found.zero') %>"
        data-message-one="<%= __('global.categories_found.one') %>"
        data-message-other="<%= __('global.categories_found.other') %>"></h5>
        
    <%- partial('_partial/categories') %>
    <%- partial('_partial/categories-and-posts') %>
</div>
